<!DOCTYPE html>
<html>
<head>
  <title>OriginalApp</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="header__nav">
    <div class="nav__wrapper">
      <a href="/" class="brand-logo">Blog</a>
      <ul class="menu">
      	<% if user_signed_in? %>
	      	<li class="menu__list"><%= link_to "SingOut", destroy_user_session_path, method: :delete %></li>
	        <li class="menu__list"><%= link_to "New", "/tweets/new", method: :get %></li>
        <% else %>
         	<li class="menu__list"><%= link_to "SingIn", new_user_session_path, method: :get %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
